{% load static from staticfiles%}
<!doctype html>
<html>
<head>
  <title>
    Login | Tag
  </title>
  <link href="https://fonts.googleapis.com/css?family=Assistant:300|Lato:300|Quicksand:400" rel="stylesheet">
  <link rel="stylesheet" href ="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href ="{% static 'css/signup.css' %}">
</head>
<body>
  <div class = "head">
  <p class = "nav"><a href = "{% url 'sign_up' %}">Sign up</a></p>
  <p class = "nav"><a href = "{% url 'login' %}">Login</a></p>
  <p class = "nav"><a href = "{% url 'profile' %}">Profile</a></p>
  </div>
  <form  method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" value="Login">Login</button>
</form>
</body>
</html>
