<!doctype html>
<html>
<head>
  <title>{{ username }} | Tag </title>
</head>
<body>
  <p> Welcome {{ name }}</p>
  <h1>New friends:</h1>
  {% for z in friendslist %}
  <p>{{ z }}</p>
  {% endfor %}
  <h1> Your Tags: </h1>
  {% for x in alltogether %}
  <p><a href = "{% url 'taghomepage' x.1 %}">{{ x.0 }}</a></p>
  {% endfor %}
  <h1>Your Friends:</h1>
  <h3><a href = "{% url 'addfriends' %}">Add Friends</a></h3>
  {% for y in friendslist %}
  <p><a href = "{% url 'homepage' y %}"> {{ y }} </a></p>
  {% endfor %}
  <h1> Create a Tag: </h1>
  <form method = "POST">{% csrf_token %}
    {{form.as_p}}
  <button type = "submit">Create Tag</button>
  </form>
</body>
</html>
