{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>How it works | Tag</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body class = "bg-info">
    <!-- Nav -->
    <div class="collapse" id="exCollapsingNavbar">
      <div class="bg-inverse p-a-1">
        {% if extrapic %}
        <a href = "{% url 'profile'%}"><img  src="{{ extrapic }}"></a>
        {% endif %}
      </div>
  <div class="bg-inverse p-a-1">
    <a href = "{% url 'home' %}"><h4>Home</h4></a>
    <hr>
  </div>
  <div class="bg-inverse p-a-1">
    <a href ="{% url 'login' %}"><h4>Login</h4></a>
    <hr>
  </div>
  <div class="bg-inverse p-a-1">
    <a href ="{% url 'sign_up' %}"><h4>Sign up</h4></a>
    <hr>
  </div>
  <div class="bg-inverse p-a-1">
    <a href ="{% url 'works' %}"><h4>How it Works</h4></a>

  </div>

  </div>
<nav class="navbar navbar-light bg-faded hidden-md-up">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
    &#9776;
  </button>
</nav>
    <nav class="navbar-fixed-top navbar-dark bg-primary  hidden-sm-down ">
  <ul class="nav navbar-nav ">
    <div class ="container text-xs-center col-md-10 col-xs-offset-1">
    <li class="nav-item col-xs-3">
      <a class="nav-link" href="{% url 'home'%}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item col-xs-2 active">
      <a class="nav-link" href="{% url 'works'%}">How it Works</a>
    </li>
    <li class="nav-item col-xs-3">
      <a class="nav-link" href="{% url 'sign_up'%}">Sign Up</a>
    </li>
    {% if extrapic %}
    <li class="nav-item col-xs-3">
    <a href = "{% url 'profile'%}"><img id="you" src="{{ extrapic }}"></a>
    </li>
    {% else %}
    <li class="nav-item col-xs-3">
      <a class="nav-link" href="{% url 'login' %}">Login</a>
    </li>
    {% endif %}
  </div>
  </ul>
</nav>


  <!-- How it works -->
  <div class = "container m-t-2 p-t-3 p-l-1 ">
    <div class ="row">
      <!-- FIRST -->
      <div class = "col-md-5">
        <div class = "col-xs-2 col-md-4">
        <img class = "img-fluid" src="{% static 'img/storm.svg'%}">
      </div>
      <div class = "col-xs-10 col-md-8">
        <h5 class="display-4">Quick</h5>
        <p class = "lead">Create new tags for yourself and friends, instantly</p>
        </div>
      </div>
        <!-- SECOND -->
      <div class = "col-md-5 col-md-offset-2 ">
        <div class = "col-xs-2 col-md-4">
        <img class = "img-fluid" src="{% static 'img/tag.svg'%}">
        </div>
        <div class = "col-xs-10 col-md-8">
        <h5 class="display-4">Credits</h5>
        <p class = "lead">Rack up credits so you can earn new tags</p>
        </div>
      </div>
    </div>
    <hr>
      <div class="row">
          <!-- THIRD -->
          <div class = "col-md-5">
            <div class = "col-xs-2 col-md-4">
            <img class = "img-fluid" src="{% static 'img/heart.svg'%}">
            </div>
            <div class = "col-xs-10 col-md-8">
            <h5 class="display-4">Reunions</h5>
            <p class = "lead">Find old friends and share tags to relive the moments</p>
            </div>
          </div>
          <!-- FOURTH -->
        <div class = "col-md-5  col-md-offset-2">
          <div class = "col-xs-2 col-md-4">
          <img class = "img-fluid" src="{% static 'img/world.svg' %}">
          </div>
          <div class = "col-xs-10 col-md-8">
          <h5 class="display-4">Hola</h5>
          <p class = "lead">Meet new friends from around the world</p>
          </div>
        </div>
        </div>
      </div>
        <footer class="footer">
      <div class="container text-xs-center m-t-3">
        <span class="text-muted">Created with love by <a href="http://adamsiwiec.com">Adam Siwiec</a>. Thanks to Django, Bootstrap, and Crispy.</span>
      </div>
    </footer>


    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  </body>
</html>
