img {
  height: 40px !important;
  width: 40px !important;
}
.badhr {
  margin-top: 9px;
}
.badhr2 {
  margin-top: 16px;
}
#profile {
  border-radius: 5px;
  background-color: #ECEEEF !important;
  border: 1px solid lightgray;
}
.footer {
  margin-top: 40px;
}
